{% extends "account/base.html" %}

{% block title %}
    Content
{% endblock title %}

{% block content %}
    {% load staticfiles %}

    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>About</h3>
            </div>
        </div>
    </div>

    <div class="container mtb">
        <div class="row centered">
            <h3 class="mb">MEET OUR TEAM</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="{% static 'js_project/bootstrap/img/team/kieun.jpg' %}">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp">kieun.parc@gmail.com</i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>박 기 은</h4>
                <h5 class="ctitle">인하대학교</h5>
                <p>전자공학과</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="{% static 'js_project/bootstrap/img/team/jongjin.jpg' %}">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp">lkasd12321@gmail.com</a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>이 종 진</h4>
                <h5 class="ctitle">가천대학교</h5>
                <p>국어국문학과</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="{% static 'js_project/bootstrap/img/team/injae.jpg' %}">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp">injae0404@gmail.com</i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>황 인 재</h4>
                <h5 class="ctitle">항공대학교</h5>
                <p>전자정보공학부</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="{% static 'js_project/bootstrap/img/team/jungsik.jpg' %}">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp">Hwajusik@gmail.com</i></a><br>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>황 정 식</h4>
                <h5 class="ctitle">단국대학교</h5>
                <p>전자전기공학부</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

        </div><! --/row -->
    </div><! --/container -->

    <!-- *****************************************************************************************************************
     TESTIMONIALS
     ***************************************************************************************************************** -->
{% endblock %}