{% extends "account/base.html" %}

{% block title %}
    Second Project
{% endblock title %}

{% block content %}
    {% load staticfiles %}
    {% load thumbnail %}
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Second Project</h3>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <a href="{% url 'js_project:second_report' %}" class="thumbnail" >
                    <img src="{% static 'js_project/images/report_profile.png' %}" alt="report">
                    <h4 class="text-center">Report</h4>
                </a>
            </div>
            <div class="col-sm-5 col-md-4">
                <a href="{% url 'js_project:second_media' %}" class="thumbnail" >
                    <img src="{% static 'js_project/images/video_icon.png' %}" alt="video">
                    <h4 class="text-center">Video</h4>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

